<section id="Other" class="ah_block ah_other">
	<div class="ah_block-inner">
		<div class="ah_block-header fadeInUp">
			<h2>Other</h2>
			<p v-if="isEn">I like drawing illustrations, especially character design.</p>
			<p v-else>イラストを描くこと、特にキャラクターデザインが好きです。</p>
		</div>
	</div>
	<div class="ah_other-content">
		<ul>
			<% for (var i = 0; i < 4; i++) { %>
			<li>
				<img class="fadeInUp" srcset="dist/assets/other_animal-<%= i + 1 %>-s.png 400w, dist/assets/other_animal-<%= i + 1 %>-m.png 768w, dist/assets/other_animal-<%= i + 1 %>.png 1200w" src="dist/assets/other_animal-<%= i + 1 %>.png">
			</li>
			<% } %>
			<% for (var i = 0; i < 4; i++) { %>
			<li>
				<img class="fadeInUp" srcset="dist/assets/other_baby-<%= i + 1 %>-s.png 400w, dist/assets/other_baby-<%= i + 1 %>-m.png 768w, dist/assets/other_baby-<%= i + 1 %>.png 1200w" src="dist/assets/other_baby-<%= i + 1 %>.png">
			</li>
			<% } %>
			<% for (var i = 0; i < 4; i++) { %>
			<li>
				<img class="fadeInUp" srcset="dist/assets/other_line-<%= i + 1 %>-s.png 400w, dist/assets/other_line-<%= i + 1 %>-m.png 768w, dist/assets/other_line-<%= i + 1 %>.png 1200w" src="dist/assets/other_line-<%= i + 1 %>.png">
			</li>
			<% } %>
		</ul>
	</div>
</section>