<html lang="ja">
<%- include( 'components/_head' ); %>
<body>
<div class="ah_wrapper">
<%- include( 'components/_loading' ); %>
<%- include( 'components/_navigation' ); %>
<%- include( 'components/_mv' ); %>
<%- include( 'components/_about' ); %>
<%- include( 'components/_skills' ); %>
<%- include( 'components/_works' ); %>
<%- include( 'components/_other' ); %>
<%- include( 'components/_footer' ); %>
</div>
<script type="text/javascript">
/**********************
 Loading
***********************/
window.onload = () => {
	const loading = document.getElementById('loading');
	loading.classList.add('ah_loading--loaded');
}

/**********************
 Smooth scroll
***********************/
const smoothScrollTrigger = document.querySelectorAll('.scrollButton');

const scrollToTarget = (target) => {
	window.scrollTo({
		top: target,
		behavior: 'smooth',
	});
};

for (let i = 0; i < smoothScrollTrigger.length; i++) {
	smoothScrollTrigger[i].addEventListener('click', (e) => {
		e.preventDefault();

		let value = smoothScrollTrigger[i].getAttribute('value');
		let targetElement = document.getElementById(value);
		const rect = targetElement.getBoundingClientRect().top;
		const offset = window.pageYOffset;
		const target = rect + offset;

		scrollToTarget(target);
	});
}
</script>
</body>
</html>
