<html lang="ja">
<%- include( 'components/_head' ); %>
<body>
<div class="ah_wrapper">
<%- include( 'components/_loading' ); %>
<%- include( 'components/_navigation' ); %>
<%- include( 'components/_mv' ); %>
<%- include( 'components/_about' ); %>
<%- include( 'components/_skills' ); %>
<%- include( 'components/_works' ); %>
<%- include( 'components/_other' ); %>
<%- include( 'components/_footer' ); %>
</div>
<script type="text/javascript">
/**********************
 Loading
***********************/
const handleTouchMove = (event) => {
    event.preventDefault();
}

document.addEventListener('touchmove', handleTouchMove, { passive: false });

window.onload = () => {
	const loadingEl = document.getElementById('loading');
	const bodyEl = document.querySelector('body');

	bodyEl.style.overflow = 'auto';

	loadingEl.classList.add('ah_loading--loaded');

	document.removeEventListener('touchmove', handleTouchMove, { passive: false });
}

/**********************
 Scroll Animation
***********************/
const slideAnimationTriggerEl = document.getElementById('slideAnimation');

window.addEventListener('DOMContentLoaded', () => {
	window.addEventListener('scroll', () => {
		let scrollTopPosition = window.scrollY;
		let triggerPosition = slideAnimationTriggerEl.getBoundingClientRect().top;
		let windowYOffset = window.pageYOffset;
		let windowHeight = window.innerHeight;

		if (scrollTopPosition + windowHeight > triggerPosition + windowYOffset ) {
			slideAnimationTriggerEl.classList.add('slideIn');
		}
	});
});

/**********************
 Smooth scroll
***********************/
const smoothScrollTriggerEl = document.querySelectorAll('.scrollButton');

const scrollToTarget = (target) => {
	window.scrollTo({
		top: target,
		behavior: 'smooth',
	});
};

for (let i = 0; i < smoothScrollTriggerEl.length; i++) {
	smoothScrollTriggerEl[i].addEventListener('click', (e) => {
		e.preventDefault();

		let value = smoothScrollTriggerEl[i].getAttribute('value');
		let targetElement = document.getElementById(value);
		const rect = targetElement.getBoundingClientRect().top;
		const offset = window.pageYOffset;
		const target = rect + offset;

		scrollToTarget(target);
	});
}
</script>
</body>
</html>
