<html lang="ja">
<%- include( 'components/_head' ); %>
<body>
<%- include( 'components/_navigation' ); %>
<%- include( 'components/_mv' ); %>
<%- include( 'components/_about' ); %>
<%- include( 'components/_skills' ); %>
<%- include( 'components/_works' ); %>
<%- include( 'components/_other' ); %>
<%- include( 'components/_footer' ); %>
<script type="text/javascript">
</script>
</body>
</html>
