<html lang="ja">
<%- include( 'components/_head' ); %>
<body>
<div class="ah_wrapper">
<%- include( 'components/_loading' ); %>
<%- include( 'components/_navigation' ); %>
<%- include( 'components/_mv' ); %>
<%- include( 'components/_about' ); %>
<%- include( 'components/_skills' ); %>
<%- include( 'components/_works' ); %>
<%- include( 'components/_other' ); %>
<%- include( 'components/_footer' ); %>
</div>
<script type="text/javascript" src="dist/js/main.js"></script>
</body>
</html>
